target/
../../BookStore/.idea/
target
build
*.zip
!../../BookStore/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
../../BookStore/.idea/modules.xml
../../BookStore/.idea/jarRepositories.xml
../../BookStore/.idea/compiler.xml
../../BookStore/.idea/libraries/
*.iws

*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store